@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-color: #064661;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 75px;
    display: flex;
}

header h1 {
    padding-left: 40px;
    font-family: "Limelight", sans-serif;
}

.textH {
    display: flex;
    align-items: center;
    padding: 40px;
}

.banner img {
    width: 100%;
}

.texttitle {
    font-family: "Limelight", sans-serif;;
    padding-top: 50px;
    color: #064661;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
}