@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-color: #064661;
    color: white;
    padding: 20px;
    height: 75px;
    display: flex;
    align-items: center;
}

header h1 {
    padding-left: 40px;
    font-family: "Limelight", sans-serif;
}

.textH {
    display: flex;
    align-items: center;
    padding: 40px;
}

.banner img {
    width: 100%;
}

.textTitle {
    font-family: "Limelight", sans-serif;
    padding-top: 50px;
    color: #064661;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

p {
    color: #262626;
    font-family: "Poppins", sans-serif;
}

.textimage {
    display: flex;
    
}

.textimage img{
    height: 400px;
    padding-left: 60px;
}

.text3p {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.box1 p, .box2 p {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 25px;
}

#boxText1 {
    font-family: "Limelight", sans-serif;
    color: #262626;
}

#boxText15 {
    font-family: "Limelight", sans-serif;
    color: #FFFFFF;
}

#boxText2 {
    font-family: "Poppins", sans-serif;
    color: #262626;
}

#boxText25 {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
}

.box1{
    background-color: #99BEDF;
    height: 200px;
    width: 500px;
}

.box2{
    background-color: #064661B2;
    height: 200px;
    width: 500px;
}

.box1, .box2 {
    border-radius: 10px;
    border: 5px solid;
    border-color: #064661;
}

.galImages {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.galImages img {
    height: 400px;
    width: 400px;
    border-radius: 50px;
}

.contacts {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.contacts img {
    height: 20px;
    width: 20px;
    padding-right: 20px;
}

.contacts div{
    display: flex;
}

.contacts div, p {
    justify-content: start;
    align-items: center;
}

footer {
    background-color: #064661;
    padding: 35px;
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin: 0px;
    padding: 0px;
}