body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    height: 75px;
    display: flex;
}

header h1 {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textH {
    display: flex;
    align-items: center;
    padding: 40px;
}